/*body      {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
}*/



header{
	background-color: white;
	-webkit-transition: background-image 1.0s ease-in-out;
	transition: background-image 1.0s ease-in-out;
}

#descripcion-inicio,#datos-extra{
	background-color: white;
}

.nav-link { text-transform: uppercase; }

#Descripcion-father,main, footer,body{
	background-color: #E0E3E3;
}

#copyright img {height: 2%;width: 2%;}


#copyright{
	background-color: #A8ABAB;
}

footer a,footer h5{
	text-decoration: none;
	color: #A0A3A3;
}

#footer-direccion{height: 75%;background-color:transparent;}
.card-footer{background-color:transparent;}

#wsp-box a{text-decoration: none;}

a:hover{text-decoration: none;}




.trumbowyg-box { margin-top: 0 !important; }

/* TODO: Review this rule, center the element vertically by using BS4's tools. */
#hideBottomBar { margin-top: 0.7rem !important; cursor: pointer; z-index: 999; }

#showBottomBar {
	left: 97%;
	margin-bottom: 1rem !important;
	padding: 0.5rem;
	border-radius: 0.6rem;
	position: fixed;
	bottom: -5rem;
	padding-bottom: 0.7rem;
}

@media only screen and (max-width: 768px) {
	#hideBottomBar {
		margin-top: -1.5rem !important;
		cursor: pointer;
		padding: 0.5rem;
		border-radius: 0.6rem;
		padding-bottom: 0.7rem;
	}

	#showBottomBar {
		left: 85%;
	}
}

#toast-1 { margin-top: 1em; }
.toast 	 { margin-right: 1em; }

.navbar-collapse
.dropdown
.dropdown-toggle { text-transform: uppercase; }

.img-logo { width: 10rem; height: 6rem; }
.img-fixed-size { width: 10rem; height: 10rem; }

.card-img-top {
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	height: 20vw;
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.1);
}

.overlay-text {
	position: relative;
	width: 100%;
	height: 0;
	padding: 0px;
	top: -16vw;
	text-align: center;
	font-size: 1.8rem;
	word-wrap: normal;
	text-transform: uppercase;
	text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

.jumbotron div p button { text-transform: uppercase; }

header {
	box-shadow: inset 0px 0px 0 2000px rgba(0,0,0,0.2);
}

.card-post				  { cursor: pointer; }
.row-fixed-height div 	  { height: 60vh; }
.row-fixed-height div p a { position: absolute; bottom: 2.5vh; }

.jumbotron { margin-bottom: 0; }
#indexLoader { height: 0.3rem; border-radius: 0; }

.img-footer {
	width: 2rem;
	height: 2rem;
}

.heading-footer {
	position: relative;
    top: -0.85rem;
}

.card { cursor: pointer; }

footer { overflow: hidden; }

#pinsHolderTop { margin-bottom: 1.5em; }
 
.inner-card-box { 
	height: 100%;
	padding: 1em;
	border: 1px solid rgba(0,0,0,.125); 
	background-color: white;
	border-radius: .25rem;
}

#card-columns .card { 
	background-color: transparent;
	border: none; 
	padding-bottom: 1em;
}

#aboutHolder {
	border: 1px solid rgba(0,0,0,.125); 
	background-color: white;
	border-radius: .25rem;
}

.aboutHolder {
	border: 1px solid rgba(0,0,0,.125); 
	background-color: white;
	border-radius: .25rem;
}

#globalBusyIndicator {
    position: fixed;
    top: -100%;
    right: 50%;
    background-color: white;
    padding: 0.7em;
    border-radius: 50%;
    display: block;
	border: 1px solid rgba(0,0,0,.125); 
	background-color: white;
}
	
/*ICONOS*/
/*.little{width: 10;height: 10;}*/

/******************* ENCABEZADOS Y SUBTITULOS *******************/
h1, h2, h3, h4, h5, h6, .sub16, .boton {font-family: 'Quicksand', sans-serif;}

h1{font-size: 60pt; font-weight: 300; letter-spacing: 0px;}
h2{font-size: 30pt; font-weight: 400; letter-spacing: 5px;}
h3{font-size: 24pt; font-weight: 400; letter-spacing: 1px;}
h4{font-size: 20pt; font-weight: 500; letter-spacing: 0px;}
h5{font-size: 16pt; font-weight: 500; letter-spacing: 0px;}
h6{font-size: 12pt; font-weight: 700; letter-spacing: 0px;}



@media screen and (max-width:992px){
    h1,h2,h3,h4,h5,h6,.actividad-text {font-size: 150%;}
    #postsHolder .display-3{font-size: 250%}
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{min-width: 100%;}
}

@media screen and (max-width:576px){
    h1,h2,h3,h4,h5,h6,.actividad-text {font-size: 100%;}
    #postsHolder .display-3{font-size: 200%}
    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{min-width: 100%;}
}